<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, options_for_select(["Flats", "Boots", "Trainers", "Heels"],  selected: @listing.category), prompt: "Please select ...", required: true %>
  </div>

  <div class="field">
  <label class="label">Name</label>
  <div class="control">
    <%= form.text_field :name, required: true, value: @listing.name || "Enter name" , class: "input" %>
  </div>
  </div>

  <div class="control">
  <%= form.text_area :description, class:"textarea is-focused", value: @listing.description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price , required: true %>
  </div>

  <div class="control">
  <button class="button is-primary">Submit</button>
  </div>

<% end %>
