
<div class="parent">
  <div class="div-1">
    <h2>Boots</h2>
  <%= link_to items_boots_path do %>
    <%= image_tag "boots.png" %>
  <% end %>
  </div>
  <div class="div-2">
  <h2>Flats</h2>
  <%= link_to items_flats_path do %>
    <%= image_tag "flats.jpg" %>
  <% end %>
  </div>
  <div class="div-3">
  <h2>Heels</h2>
  <%= link_to items_heels_path do %>
    <%= image_tag "heels.png" %>
  <% end %>
  </div>
  <div class="div-4">
  <h2>Trainers</h2>
  <%= link_to items_trainers_path do %>
    <%= image_tag "trainers.jpg" %>
  <% end %>
  </td>
  </div>
</div>


