<h1>New Listing</h1>

<%= render 'form', listing: @listing %>

<%=form_with model: @listing, local: true do |form|%>
<p>
  <%= form.label :image %>
  <%= form.file_field :image %>
</p>
<%end%>
<%= link_to 'Back', listings_path %>
