<div class="top-nav">
    <ul>
    <p><%= link_to "Home", root_path %> </p>
    <p><%= link_to "Flats", items_flats_path %> </p>
    <p><%= link_to "Boots", items_boots_path %> </p>
    <p><%= link_to "heels", items_heels_path %> </p>
    <p><%= link_to "Trainers", items_trainers_path %> </p>

        <% if user_signed_in? %> 
                <div id="logout"><%= link_to 'Logout', destroy_user_session_path, method: "delete",class:"top-nav-link"%></div>
                <div id="username"><%= current_user.name %></div>
                <% else %>
                <div id="login"><%= link_to 'Login', new_user_session_path, class:"top-nav-link"%></div>
                <div id="signup"><%= link_to 'Sign Up', new_user_registration_path, class:"top-nav-link"%></div>
        <% end %>
    </ul>
</div>

