<div class="top-nav">
    <ul>
    <p><%= link_to "Home", root_path %> </p>
    <p><%= link_to "Flats", items_flats_path %> </p>
    <p><%= link_to "Boots", items_boots_path %> </p>
    <p><%= link_to "heels", items_heels_path %> </p>
    <p><%= link_to "Trainers", items_trainers_path %> </p>
    </ul>
</div>

